<% var category %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/category.css" />
        <title>Document</title>
    </head>
    <body>
        <%- include('parts/nav') %>
        <section class="announcement">
            <div class="container">
                <h1 class="title"><%= category.name %></h1>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="./ad.html" class="announcement-link">
                            Redmi 4x
                        </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="#" class="announcement-link"> Redmi 4x </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="#" class="announcement-link"> Redmi 4x </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="#" class="announcement-link"> Redmi 4x </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="#" class="announcement-link"> Redmi 4x </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
                <div class="announcement-wrapper">
                    <div class="img-section">
                        <img
                            width="250"
                            height="160"
                            class="img"
                            src="https://picsum.photos/250/150"
                            alt=""
                        />
                    </div>
                    <div class="info-section">
                        <a href="#" class="announcement-link"> Redmi 4x </a>
                        <p class="date">Сегодня 21:10</p>
                    </div>
                    <div class="price-section">
                        <p class="price">150$</p>
                    </div>
                    <!--  -->
                </div>
            </div>
        </section>
    </body>
</html>
