<%- include('parts/nav') %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/category.css" />
        <title>Olx.uz</title>
    </head>
    <body>
        <section class="main-section">
            <div class="container">
                <h1 class="title">Главные категории</h1>
                <div class="categories">
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Детский мир</span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-36
                                        cat-cmt-icon-36
                                    "
                                    style="background-color: rgb(255, 206, 50)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Недвижимость</span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-1
                                        cat-cmt-icon-1
                                    "
                                    style="background-color: rgb(58, 119, 255)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Транспорт</span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-3
                                        cat-cmt-icon-3
                                    "
                                    style="background-color: rgb(35, 229, 219)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Работа </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-6
                                        cat-cmt-icon-6
                                    "
                                    style="background-color: rgb(255, 86, 54)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Животные </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-35
                                        cat-cmt-icon-35
                                    "
                                    style="background-color: rgb(255, 246, 217)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Дом и сад </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-899
                                        cat-cmt-icon-899
                                    "
                                    style="background-color: rgb(206, 221, 255)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Электроника </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-37
                                        cat-cmt-icon-37
                                    "
                                    style="background-color: rgb(200, 248, 246)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name"
                                    >Бизнес и услуги
                                </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-7
                                        cat-cmt-icon-7
                                    "
                                    style="background-color: rgb(255, 214, 201)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Мода и стиль </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-891
                                        cat-cmt-icon-891
                                    "
                                    style="background-color: rgb(255, 206, 50)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name"
                                    >Хобби, отдых и спорт
                                </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-903
                                        cat-cmt-icon-903
                                    "
                                    style="background-color: rgb(206, 221, 255)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Отдам даром </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-1151
                                        cat-cmt-icon-1151
                                    "
                                    style="background-color: rgb(200, 248, 246)"
                                ></span>
                            </a>
                        </div>
                    </div>
                    <div class="category-wrapper">
                        <div class="category-item flet">
                            <a
                                href="#"
                                data-id="36"
                                class="link parent category-link"
                            >
                                <span class="category-name">Обмен </span>
                                <span
                                    class="
                                        cat-icon
                                        cat-icon-circle
                                        cat-icon-1153
                                        cat-cmt-icon-1153
                                    "
                                    style="background-color: rgb(255, 214, 201)"
                                ></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
<%- include('parts/footer') %>
