<%var error %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/login.css" />
        <title>Login</title>
    </head>
    <body>
        <%- include('parts/nav') %>
        <section class="login">
            <form class="form" method="POST">
                <h1 class="title">Войти</h1>
                <% if(error){ %>
                <div class="error active"><%= error %></div>
                <%} %>
                <input
                    class="input"
                    type="email"
                    name="email"
                    autocomplete="off"
                    placeholder="Электронная почта"
                    required
                />
                <input
                    class="input"
                    type="password"
                    name="password"
                    placeholder="Пароль"
                    required
                />
                <button class="btn">Войти</button>
            </form>
        </section>
        <%- include('parts/footer') %>
    </body>
</html>
