:root {
    --mainColor: #002f34;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", Arial, sans-serif !important;
}

html::-webkit-scrollbar {
    width: 6px;
}

html::-webkit-scrollbar-track {
    background-color: white;
}

html::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f2f4f5;
}

.login {
    width: 100%;
    height: 91%;
    background-color: #3a77ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 24%;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.title {
    color: var(--mainColor);
    font-size: 30px;
}

.input,
.btn {
    width: 80%;
    padding: 18px;
    border: none;
    border-bottom: 2px solid #f2f4f5;
    border-radius: 5px;
    margin-top: 20px;
    outline: none;
    transition: border-color 0.2s;
}

.input::placeholder {
    color: #71848d;
}

.input {
    background-color: #f2f4f5;
}

.input:focus {
    border-color: var(--mainColor);
}

.btn {
    background-color: var(--mainColor);
    border: 2px solid var(--mainColor);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: white;
    color: var(--mainColor);
}

.error {
    width: 80%;
    padding: 10px;
    background-color: #f8d7da;
    color: #842029;
    border-radius: 5px;
    border: 1px solid #f5c2c7;
    font-size: 14px;
    margin-top: 10px;
}
