<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/footer.css" />
        <title>Document</title>
    </head>
    <body>
        <footer class="footer">
            <div class="container">
                <ul class="footer-list">
                    <li class="list-item">
                        <a href="./parts/order.html" class="item-link"
                            >Мобильные приложения</a
                        >
                    </li>
                    <li class="list-item">
                        <a href="./parts/view.html" class="item-link"
                            >Условия использования</a
                        >
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Реклама на сайте</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Платные услуги</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Бизнес на OLX</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Помощь</a>
                    </li>
                </ul>
                <ul class="footer-list">
                    <li class="list-item">
                        <a href="#" class="item-link"
                            >Как продавать и покупать?</a
                        >
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Правила безопасности</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Обратная связь</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Карта регионов</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Карьера в OLX</a>
                    </li>
                    <li class="list-item">
                        <a href="#" class="item-link">Карта сайта</a>
                    </li>
                </ul>
                <div class="download">
                    <a
                        href="https://play.google.com/store/apps/details?id=com.torg.torg&hl=ru&gl=US"
                        target="_blank"
                        class="icon block googleplay"
                    ></a>
                    <a
                        href="https://apps.apple.com/uz/app/olx-uz/id665094472"
                        target="_blank"
                        class="icon block appstore"
                    ></a>
                </div>
            </div>
        </footer>
    </body>
</html>
