<% var user %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/nav.css" />
        <title>Olx.uz</title>
    </head>
    <body>
        <main class="main">
            <div class="container">
                <nav class="nav">
                    <a href="/" class="nav-brand" title="Olx">
                        <span class="nav-brand__o"></span>
                        <span class="nav-brand__l"></span>
                        <span class="nav-brand__x"></span>
                        To home
                    </a>
                    <input
                        type="text"
                        name="search"
                        class="nav-search"
                        placeholder="Посик"
                    />
                    <div class="links">
                        <% if(!user) {%>
                        <a href="/users/login" class="nav-link">Войти</a>
                        <a href="/users/register" class="nav-link"
                            >Регистрация</a
                        >
                        <% }else {%>
                        <a href="/users/login" class="nav-link"
                            >Подать объявление</a
                        >
                        <a href="/users/profile" class="nav-link"
                            ><%= user.name%></a
                        >
                        <% } %>
                    </div>
                </nav>
            </div>
        </main>
    </body>
</html>
